<p>
h1.ex1
{
	text-align:center;
	line-height: 400px;
	height:4em;
}

h1.ex1:hover span.ex1 
{
	display:none;
}

h1.ex1:hover:before 
{
	color:red;
	content:"No!";
}
</p>

<body>
<h1 class = "ex1">
	<span class = "ex1">
		Is it Christmas yet?
	</span>
</h1>
</body>

<script type = "text/javascript">
  // To attach Backstrech as the body's background  
  	$.backstretch(['/assets/brightTree.jpg','/assets/christmasTree.jpg','/assets/moreTrees.jpg','/assets/snuggly.jpg'], {duration: 3000, fade: 750});

</script>


<p class = "right1">
h1.ex1
{
	text-align:center;
	line-height: 400px;
	height:4em;
}

h1.ex1:hover span.ex1 
{
	display:none;
}

h1.ex1:hover:before 
{
	color:red;
	content:"No!";
}
</p>